@page "/login"

<h3>Iniciar sesi칩n</h3>

@if (Context.Request.Query.ContainsKey("e"))
{
    <div class="alert alert-danger">Usuario o contrase침a inv치lidos</div>
}

<form method="post" action="/auth/cookie-login">
    <div class="mb-3">
        <label class="form-label">Usuario</label>
        <input class="form-control" name="username" />
    </div>
    <div class="mb-3">
        <label class="form-label">Contrase침a</label>
        <input class="form-control" name="password" type="password" />
    </div>
    <button type="submit" class="btn btn-primary">Entrar</button>
</form>
